<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biyao.search.bs.server.mysql.dao.mapper.TermSynonymMapper">
    <select id="getInfoByPage" resultType="com.biyao.search.bs.server.mysql.model.TermSynonymPO">
        select
        id as id,
        term as term,
        synonym as synonym
        from search_term_synonym
        where status=1
        order by id asc limit ${pageIndex},${pageSize}
    </select>
</mapper>